In [1]:
import requests
import csv
import pandas as pd
import os
import dotenv 
from dotenv import load_dotenv


# Load environment variables from .env file
load_dotenv()

# --- Configuration ---

API_KEY = os.getenv('OPENWEATHER_API_KEY')
BASE_URL = 'http://api.openweathermap.org/data/2.5/forecast'

if not API_KEY:
    print("Error: API_KEY not found in .env file!")
    exit()

# --- Fetch Weather Data ---
city = input("Enter a city name: ")
request_url = f"{BASE_URL}?appid={API_KEY}&q={city}&units=metric"
response = requests.get(request_url)

# Check if the request was successful 
if response.status_code == 200:
    data = response.json()
    if "list" not in data:
        print("API returned an error!")
        print(data)
    else:
        df = pd.json_normalize(data["list"])

In [8]:
df_copy = df.copy()

In [4]:
df_copy = df_copy.explode('weather')

In [7]:
df2 = pd.json_normalize(df_copy['weather'])

In [14]:
df =pd.concat([df_copy.reset_index(drop=True), pd.json_normalize(df_copy.explode("weather")["weather"]).reset_index(drop=True)], axis=1).drop(columns=['weather'])

In [15]:
df.head(3)

,dt,visibility,pop,dt_txt,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.sea_level,...,main.temp_kf,clouds.all,wind.speed,wind.deg,wind.gust,sys.pod,id,main,description,icon
0,1763380800,10000,0,2025-11-17 12:00:00,22.29,21.78,22.04,22.29,1025,1025,...,0.25,26,4.67,3,3.98,d,802,Clouds,scattered clouds,03d
1,1763391600,10000,0,2025-11-17 15:00:00,21.67,21.15,21.30,21.67,1024,1024,...,0.37,18,5.19,13,5.57,n,801,Clouds,few clouds,02n
2,1763402400,10000,0,2025-11-17 18:00:00,18.74,17.87,18.74,18.74,1023,1023,...,0.00,14,5.07,19,4.77,n,801,Clouds,few clouds,02n